
/* .context {
    /* position: absolute;  */
 */

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
    position: absolute;
    z-index: -1;
}
.area{
    background: white;  
    background: -webkit-linear-gradient(to left, #fad545, #ffaa33);  
    width: 100%;
    z-index:-1;
  
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #fad545;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 10%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(4){
    left: 7%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 1s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 3.5s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 7s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 0s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 1s;
    animation-duration: 11s;
}
.circles li:nth-child(11){
    left: 12%;
    width: 55px;
    height: 55px;
    animation-delay: 4s;
    animation-duration: 5s;
}
.circles li:nth-child(12){
    left: 90%;
    width: 120px;
    height: 120px;
    animation-delay: 3s;
    animation-duration: 15s;
}

.circles li:nth-child(13){
    left: 80%;
    width: 30px;
    height: 30px;
    animation-delay: 1.7s;
    animation-duration: 12s;
}
.circles li:nth-child(14){
    left: 23%;
    width: 150px;
    height: 150px;
    animation-delay: 3.5s;
    animation-duration: 11s;
}
.circles li:nth-child(15){
    left: 40%;
    width: 97px;
    height: 97px;
    animation-delay: 7s;
    animation-duration: 10s;
}
.circles li:nth-child(16){
    left: 5%;
    width: 60px;
    height: 60px;
    animation-delay: 1.5s;
    animation-duration: 11s;
}

.circles li:nth-child(17){
    left: 30%;
    width: 80px;
    height: 80px;
    animation-delay: 3s;
    animation-duration: 11s;
}
.circles li:nth-child(18){
    left: 12%;
    width: 100px;
    height: 100px;
    animation-delay: 2s;
    animation-duration: 11s;
}
@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0%;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 100%;
    }

}